{% extends "base.html.twig" %}
{% block body %}
<h2>  Création d'une publication </h2>
   {{ form_start(formPub)  }}

   {{ form_widget(formPub) }}
       <button type="submit" class="BtnSave"> Enregistrer </button>
   {{ form_end(formPub) }}
 
{% endblock %}