{% extends "base.html.twig" %}
{% block body %}

<publication>
			<h2>
				{{ pub.titre }}</h2>
			<div class="content">
				<img src ="http://placehold.it/350x150" alt="">
				<p>  {{pub.contenu}} </p>
                    <hr></hr> 
                    
				
			</div>
		</publication>

{% endblock %}
