{% extends "base.html.twig" %}
{% block body %}

<publication>
			<h2>
				Titre de la publication</h2>
			<div class="content">
				<img src ="http://placehold.it/350x150" alt="">
				<p>
					dhjdhjshdjshdjshdjshdjhsjdhshsjfhjdfhdjfhdjfhjfhjfhjdfhjdfhjdfhdjfhdjfhdjfhjdfhjdfhjdfhdjfhdjfhdjf</p>
				<p>
					dhjdhjshdjshdjshdjshdjhsjdhshsjfhjdfhdjfhdjfhjfhjfhjdfhjdfhjdfhdjfhdjfhdjfhjdfhjdfhjdfhdjfhdjfhdjf</p>
                    <hr></hr>
                <p>
					dhjdhjshdjshdjshdjshdjhsjdhshsjfhjdfhdjfhdjfhjfhjfhjdfhjdfhjdfhdjfhdjfhdjfhjdfhjdfhjdfhdjfhdjfhdjf
                    dhjdhjshdjshdjshdjshdjhsjdhshsjfhjdfhdjfhdjfhjfhjfhjdfhjdfhjdfhdjfhdjfhdjfhjdfhjdfhjdfhdjfhdjfhdjfdhjdhjshdjshdjshdjshdjhsjdhsh
                    sjfhjdfhdjfhdjfhjfhjfhjdfhjdfhjdfhdjfhdjfhdjfhjdfhjdfhjdfhdjfhdjfhdjf
                    </p>    
                    
				
			</div>
		</publication>

{% endblock %}
